body {
    font-family: 'Inter', sans-serif;
    margin: 0;
  }

nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E0E0E0;
    padding: 8px 24px 8px 24px; 
}

#navbar-elements {
    display: flex;
    gap: 5rem;
}

.navbar-el {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;

    align-items: center;
    letter-spacing: -0.3px;
    color: #212121;
    text-decoration: none;
}

#reserve-btn {
    align-items: center;

    color: #212121;;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    line-height: 125%;
    letter-spacing: -0.3px;

    padding: 16px;
    border-radius: 6px;
    background: var(--Color-2, #F468A554);
}

#main-container {
    height: 100%;
}

/* Smaller desktop version */
@media (max-width: 900px) {
    #reserve-btn {
        display: none;
    }
}


/* Mobile version */
#icons {
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    bottom: 10px;
    width: 100%;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
}

#mobile-dropdown {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    height: 100%;
}

#mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 6px;
}

.mobile-el {
    color: #212121;
    background-color: #F5F5F5;

    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: -0.3px;
    vertical-align: middle;
    text-decoration: none;

    border-radius: 6px;
    padding: 12px 10px 12px 10px;
}

#mobile-reserve-btn {
    margin-top: 32px;
    background: var(--Color-2, #F468A554);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 16px;
}

#mobile-reserve-btn p {
    margin: 0px;
}

#hamburger {
    display: none;
}

@media (max-width: 768px) {
    #navbar-elements {
        display: none;
    }

    #reserve-btn {
        display: none;
    }

    #hamburger {
        display: block;
    }
}