body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin: 0;
  }

nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E0E0E0;
    padding: 8px 24px 8px 24px; 
}

footer {
    display: flex;
    bottom: 0;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
    
    border: 1px solid #E0E0E0;
    padding: 20px 27px 20px 27px;
    width: 100%;

    transition: opacity 0.3s ease;
}

footer.hide {
    opacity: 0;
}

#main-container.hide {
    opacity: 0; 
    visibility: hidden;
}

#footer-elements {
    display: flex;
    flex-grow: 10px;
    gap: 8rem;
}

.footer-icons { 
    display: none;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer-icons svg {
    height: 50px;
    width: 50px;
}

#navbar-elements {
    display: flex;
    gap: 5rem;
}

.footer-el { 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;

    align-items: center;
    justify-content: center;
    letter-spacing: -0.3px;
    color: #616161;
    text-decoration: none;
    transition: font-weight 0.2s ease;
    width: 60px;
}
:hover {
    font-weight: 500;
}

.navbar-el {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;

    align-items: center;
    letter-spacing: -0.3px;
    color: #212121;
    text-decoration: none;
    transition: font-weight 0.2s ease;
    width: 60px;
}

.navbar-el:hover {
    font-weight: 600;
}

#reserve-btn {
    align-items: center;

    color: #212121;;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    line-height: 125%;
    letter-spacing: -0.3px;

    padding: 16px;
    border-radius: 6px;
    background: var(--Color-2, #F468A554);
}

#main-container {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
}

 .container {
    height: 355px;
 }

#bg-container {
    background-image: url("../images/bg-flowers.jpg");
    background-position: center 55%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    padding: 30px 40px 30px 40px;
    display: flex;
    width: 100%;
}

#bg-container span {
    font-family: Playfair Display;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;
}

#bg-container p { 
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #616161;
}

#bg-container .left-half {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
} 
.right-half {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    margin: auto auto;
    align-items: center;
    justify-content: end;
}

#services-container {
    padding: 30px 40px 30px 40px;
    margin-top: 40px;
}

#services-container h2 {
    font-family: Playfair Display;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

#services-cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
}

#services-cards a {
    text-decoration: none;
}

.card { 
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    width: 252px;
    height: 234px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 12px;
}

.card h4 {
    font-family: Playfair Display;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #212121; 
    margin: 0px;
}

.card p {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0px;
    color: #616161;
}

#carousel-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#carousel-wrapper::-webkit-scrollbar {
    display: none;
}

#carousel-wrapper.dragging {
    cursor: grabbing;
    scroll-behavior: auto;
    user-select: none;
}

.image-1 {
background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0) 50%, white 70%),
    url('../../assets/images/card3.jpg');
}

.image-2 {
background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0) 50%, white 70%),
    url('../../assets/images/card4.jpg');
}

.image-3 {
background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0) 50%, white 70%),
    url('../../assets/images/card2.jpg');
}

.image-4 {
background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0) 50%, white 70%),
    url('../../assets/images/card1.jpg');
}

.image-5 {
background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0) 50%, white 70%),
    url('../../assets/images/card5.jpg');
}

.image-6 {
background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0) 50%, white 70%),
    url('../../assets/images/card6.jpg');
}

/* Smaller desktop version */
@media (max-width: 900px) {
    #reserve-btn {
        display: none;
    }
    #footer-elements {
        display: none;
    }
    .footer-icons {
        display: flex;
    }
    #footer-elements {
        gap: 0px;
    }
    footer {
        justify-content: space-between;
    }
}


/* Mobile version */
#icons {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
}

#mobile-dropdown {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 95%;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#mobile-dropdown.show {
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 6px;
}

.mobile-el {
    display: flex;
    
    color: #212121;
    background-color: #F5F5F5;

    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: -0.3px;
    vertical-align: middle;
    text-decoration: none;

    border-radius: 6px;
    padding: 12px 10px 12px 10px;
    align-items: center;
    justify-content: space-between;
}

#mobile-reserve-btn {
    margin-top: 32px;
    background: var(--Color-2, #F468A554);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 16px;
}

#mobile-reserve-btn p {
    margin: 0px;
}

#mobile-menu-btn {
    display: none;
    position: relative;
    width: 48px;
    height: 50px;
    cursor: pointer;
}

#mobile-menu-btn .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
}

#mobile-menu-btn .hamburger {
    opacity: 1;
    z-index: 2;
}

#mobile-menu-btn .close {
    opacity: 0;
    z-index: 1;
}

#mobile-menu-btn.menu-open .hamburger {
    opacity: 0;
}

#mobile-menu-btn.menu-open .close {
    opacity: 1;
}

#mobile-menu-btn .arrow {
    margin-left: auto;
}

.services-group {
    display: flex;
    flex-direction: column;
    gap: 0px;  
}

.services-container { 
    display: flex;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 6px;
    margin-left: 40px; 
    transition: 
        max-height 0.5s ease-in,
        opacity 0.5s ease-in-out
        visibility 0s linear 0.7s;
}

.services-container.menu-open {
    max-height: 1000px;
    margin-top: 6px;
    visibility: visible;
    opacity: 1;
    transition: 
        max-height 0.5s ease-in,
        opacity 0.3s ease-out,
        visibility 0s;
}

.services-container .mobile-el {
    background-color: #F6CEDF54;
}

@media (max-width: 768px) {
    #navbar-elements {
        display: none;
    }

    #reserve-btn {
        display: none;
    }

    #mobile-menu-btn {
        display: block;
    }

    .footer-icons svg {
        height: 19px;
        width: 19px;
    }

    footer {
        padding: 8px 24px 8px 24px;
        
    }

    #footer-logo {
        height: 24px;
        width: 81px;
    }

    #bg-container {
        background-position: center 17%;
        background-size: 250%;
        height: 291px;
    }

    #bg-container span { 
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    body { 
        line-height: 100%;
    }

    #bg-container .right-half { 
        display: none;
    }

    #bg-container p {
        font-size: 12px;
    }

    #services-container {
        margin-top: 20px;
        padding: 0px 16px 0px 16px;
    }

    #services-container h2{
        font-size: 16px;
    }

    #services-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 20px;
        justify-content: center;
        align-items: flex-start;
        column-gap: 8px;
        row-gap: 16px;
    } 

    .card {
        flex: 1 1 calc(50% - 8px);
        max-width: calc(50% - 8px);
        box-sizing: border-box;
        height: 93px;
        gap: 0px;
    }

    .card p {
        display: none;
    }

    .card h4 {
        font-size: 16px;
    }

    #carousel-wrapper {
        all: initial;
    }

    .image-1 {
        background-image: 
            linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 90%),
            url('../../assets/images/card3.jpg');
      }
    
      .image-2 {
        background-image: 
            linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 90%),
            url('../../assets/images/card4.jpg');
      }
    
      .image-3 {
        background-image: 
            linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 90%),
            url('../../assets/images/card2.jpg');
      }
    
      .image-4 {
        background-image: 
            linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 90%),
            url('../../assets/images/card1.jpg');
      }
    
      .image-5 {
        background-image: 
            linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 90%),
            url('../../assets/images/card5.jpg');
      }
    
      .image-6 {
        background-image: 
            linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 90%),
            url('../../assets/images/card6.jpg');
      }
}